* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #596f99;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #596f99;
    color: rgb(0, 0, 0);
    text-align: center;
    overflow: hidden;
}

.hero h1 {
    font-size: 88px;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hero-logo {
    height: 280px;
    width: 80%;
    opacity: 0;
    transform: translateY(-50px);
}

.hero-title {
    font-size: 48px;
    opacity: 0;
    transform: translateY(100px);
}

//Info section

#info-title {
    padding: 0;
    margin-bottom: 0;
    margin-top: 70px;
}

#info-title h2 {
    margin-top: 40px;
    font-size: 35px;
    color: #4B0082;
}

#info-box {
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
    background-color: rgb(208, 241, 242);
}

.info-box-content {
    color:#000080;
}

.info-box-content h3 {
    margin: 15px 150px auto;
    line-height: 1.5;
}

.info-box-content P {
    margin: 10px 150px auto;
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 60px;
    }

    .hero-title {
        font-size: 36px;
    }

    .hero-logo {
        height: 200px;
        width: 90%;
    }

    #info-title {
        text-align: center;
        padding: 10px;
    } 

    #info-box {
        text-align: center;
    }

    #info-box-content {
        padding: 15px;
        line-height: 1.5;
    }
}

@media (max-width: 1200px) {
    #info-title h2 {
        margin: 0 50px auto;
        font-size: 65px;
    }

    .info-box-content {
        font-size: 19px;
    }
}

@media (max-width: 1920px) {
    #info-title h2 {
        margin: 0 50px auto;
   }
}